<div class="modal fade" id="elegantModalForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign up</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <form action="/registration" method="post">
        <p><label for="username">Username:</label><br>
            <input type="text" minlength="3" name="username">
            <p><label for="password">Password:</label><br>
            <input type="password" minlength="6" name="password"><br><br>
            <button type="submit" class="btn blue-gradient btn-rounded btn-primary">Sign up</button>
        </form>
        </div>
    </div>
    <!--/.Content-->
  </div>
</div>